@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px brown;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px brown;
  }
}

@media (prefers-color-scheme: light) {
  .fret-mute, .fret-label {
    fill: black;
    stroke: none;
  }
}
