@import "fret_board";
@import "static";

.hidden {
  display: none;
}

.carousel-control-next-icon {
  background-color: green;
}

.carousel-control-prev-icon {
  background-color: green;
}

a.chord-practice-brand {
  background: image-url('guitar.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
}
