.chord-list {
  width: 100%;
  ul {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    li {
      float: none;
      display: inline-block;
      width: 100px;
    }
  }
}

.fretboard {
  cursor: hand;
  cursor: pointer;
  header {
    padding-left: 5px;
    .name {
      font-weight: bold;
    }
    &.tiny {
      .name {
        font-size: 12px;
      }
      .bases {
        font-size: 10px;
      }
    }
    &.small {
      .name {
        font-size: 16px;
      }
      .bases {
        font-size: 12px;
      }
    }
    &.default {
      .name {
        font-size: 20px;
      }
    }
  }
}
